<% # this partial is for the initial load %>

<%= link_to "Back to Photograpy main", photosets_path() %>

<h4><%= @photoset.title.to_s.capitalize %></h4>
<%= photo_list(@photos, @photoset, "photo_list") %>

<% if @photos %>

<div id="photo_list_nav">
  <%= link_to_if(session[:flickr_page] > 1, "&laquo; Prev", photoset_photos_path(:scroll=>'left'), :class=>"get") {} %>
  <%= link_to_if(session[:flickr_page] < session[:flickr_page_total], "Next &raquo;", photoset_photos_path(:scroll=>'right'), :class=>"get") {} %>
  <% #= link_to_if(session[:flickr_page] > 1, "&laquo; Prev", {:controller=>"photos", :action=>"scroll_left", :photoset_id=>@photoset}, :class=>"get") {} %>
  <% #= link_to_if(session[:flickr_page] < session[:flickr_page_total], "Next &raquo;", {:controller=>"photos", :action=>"scroll_right", :photoset_id=>@photoset}, :class=>"get") {} %>
</div>

<% end -%>