<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />

<title>baraDesignCompany.com | <%= controller.controller_name.capitalize %> | <%= controller.action_name.capitalize %><% if params[:page] then %> | <%= params[:page].capitalize %> <%- end %></title>

<%= stylesheet_cache_link_tag "undohtml", "default", :cached_name => "defaults" %>
<%= yield :stylesheets %>
<%= javascript_cache_include_tag "jquery-1.3.2.min", "jq_plugins/supersleight.plugin", "application", :cached_name => "defaults" %>
<%= yield :javascripts %>
<%= render :partial => "shared/ie_cond_comments" %>
<%= yield :head_end %>

</head>
<body>

<div id="header">
<%= yield :header %>
</div>
<ul>
  <li><%= link_to_unless_current("Home",  root_path) %></li>
  <li><%= link_to_unless_current("Photography", photosets_path()) %></li>
  <li><%= link_to_unless_current("Contact", home_path("contact")) %></li>
  <li><%= link_to_unless_current("About", home_path("about")) %></li>
  <li><%= link_to_unless_current("FAQ", home_path("faq")) %></li>
</ul>
<div id="content">

  <h1 id="flashHeading"><%= flash[:notice] %></h1>
  
  <%= yield :content  %>

</div>

<div id="footer">
<%= yield :footer %>
</div>

</body>
</html>