<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />

<title>baraDesignCompany.com | <%= controller.controller_name.capitalize %> | <%= controller.action_name.capitalize %><% if params[:page] then %> | <%= params[:page].capitalize %> <%- end %></title>

<%= stylesheet_cache_link_tag "undohtml", "default", :cached_name => "defaults" %>
<%= yield :stylesheets %>
<%= javascript_cache_include_tag "jquery-1.4.2.min", "application", :cached_name => "defaults" %>
<%= yield :javascripts %>
<%= render :partial => "shared/ie_cond_comments" %>
<%= yield :head_end %>

</head>
<body id="<%= controller.controller_name %>">
<div id="header" class="clearfix">
  <%= link_to("", root_path(), :id=>"homeLogoLink") %>
</div>
<%= render :partial=>"shared/main_nav" %>
<div id="content" class="clearfix">

  <h1 id="flashHeading"><%= flash[:notice] %></h1>
  
  <%= yield :content or yield  %>

</div>

<div id="footer" class="clearfix">
<%= yield :footer %>
</div>

</body>
</html>