<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name %>: <%= controller.action_name %></title>
  <%= stylesheet_link_tag "undohtml", "scaffold", "master", "lightbox" %>
  <%= javascript_include_tag "prototype" , "effects" , "dragdrop" , "instant" , "reflex", "lightbox" , :cache => "railtrackr" %>

</head>
<body>

<%= nav %>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

<%= footer %>
</body>
</html>
